[Unit]
Description=Python donate.noisebridge.net implementation

[Service]
WorkingDirectory={{ pydonate_base }}
ExecStart="{{ pydonate_venv }}/bin/flask" "run"
User={{ pydonate_user }}
Group={{ pydonate_user }}
Environment="FLASK_APP={{ pydonate_base }}/autoapp.py"
Environment="DONATE_DOTENV={{ pydonate_dotenv }}"

[Install]
WantedBy=multi-user.target
