[Unit]
Description=Python donate.noisebridge.net implementation

[Service]
WorkingDirectory=/srv/{{ pydonate_user }}/code
ExecStart = "/srv/{{ pydonate_user }}/code/venv/bin/flask" "run"
User={{ pydonate_user }}
Group={{ pydonate_user }}

[Install]
WantedBy=multi-user.target
