{{ ansible_managed | comment }}
# Global config
{
  servers {
      metrics
  }
}
# Metrics server
{{ ansible_fqdn }} {
  route /metrics {
    basicauth {
      prometheus {{ noisebridge_prometheus_password_hash }}
    }
    metrics
  }
  respond "Noisebridge Infrastructure - {{ ansible_fqdn }}"
}

library.noisebridge.net {
  log {
    output file "{{ caddy_log_dir }}/library.noisebridge.net.log" {
      {{ noisebridge_caddy_log_roll | indent(width=6) }}
    }
    {{ noisebridge_caddy_log_filter | indent(width=4) }}
  }
  {{ noisebridge_caddy_secure_header | indent(width=2) }}
  reverse_proxy localhost:5000
}
parts.noisebridge.net {
  log {
    output file "{{ caddy_log_dir }}/parts.noisebridge.net.log" {
      {{ noisebridge_caddy_log_roll | indent(width=6) }}
    }
    {{ noisebridge_caddy_log_filter | indent(width=4) }}
  }
  {{ noisebridge_caddy_secure_header | indent(width=2) }}
  reverse_proxy localhost:3000
}
