{{ ansible_managed | comment }}
# Global config
{
	{{ noisebridge_caddy_global_metrics }}
}

# Metrics server
{{ ansible_fqdn }} {
	{{ noisebridge_caddy_metrics_route }}
	{{ noisebridge_caddy_cadvisor_route }}
	respond "Noisebridge Infrastructure - {{ ansible_fqdn }}"
}

library.noisebridge.net {
	log {
		output file "{{ caddy_log_dir }}/library.noisebridge.net.log" {
			{{ noisebridge_caddy_log_roll }}
		}
		{{ noisebridge_caddy_log_filter }}
	}
	{{ noisebridge_caddy_secure_header }}
	reverse_proxy localhost:5000
}

parts.noisebridge.net {
	log {
		output file "{{ caddy_log_dir }}/parts.noisebridge.net.log" {
			{{ noisebridge_caddy_log_roll }}
		}
		{{ noisebridge_caddy_log_filter }}
	}
	{{ noisebridge_caddy_secure_header }}
	reverse_proxy localhost:3000
}
