[submodule "roles/geerlingguy.mysql"]
	path = roles/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "roles/debops.secret"]
	path = roles/debops.secret
	url = https://github.com/debops/ansible-secret.git
[submodule "roles/debops.postfix"]
	path = roles/debops.postfix
	url = https://github.com/debops/ansible-postfix.git
[submodule "roles/debops.mailman"]
	path = roles/debops.mailman
	url = https://github.com/debops/ansible-mailman.git
