site.retry
.vault-password
.DS_Store
*.swp
/roles/*/.github
/roles/*/Pipfile*
/collections/ansible_collections/*/*/*.md
/collections/ansible_collections/*/*/*.rst
/collections/ansible_collections/*/*/.azure-pipelines/**
/collections/ansible_collections/*/*/.devcontainer/**
/collections/ansible_collections/*/*/.github/**
/collections/ansible_collections/*/*/changelogs/**
/collections/ansible_collections/*/*/docs/**
/collections/ansible_collections/*/*/examples/**
/collections/ansible_collections/*/*/molecule/**
/collections/ansible_collections/*/*/tests/**
/collections/ansible_collections/*/*/Pipfile*
