[defaults]
inventory = hosts.yml
host_key_checking = True
ansible_user = root
collections_path=collections
roles_path=roles
vault_identity_list = prod@.vault-password, dev@/home/user/.vault-pass.dev

[ssh_connection]
pipelining=True
