---
 - name: disable ssh root login
   replace: dest=/etc/ssh/sshd_config regexp='PermitRootLogin (.*)' replace='PermitRootLogin no'
   notify: reload-ssh

 - name: disable ssh password authentication
   replace: dest=/etc/ssh/sshd_config regexp='(\#?)PasswordAuthentication (.*)' replace='PasswordAuthentication no'
   notify: reload-ssh

 - name: install unattended-upgrades & sudo
   items:
     - unattended-upgrades
     - apt-listchanges
     - pwgen
     - sudo
   apt: name={{ item }} state=latest update_cache=yes cache_valid_time=3600

 - name: add admin users
   with_items: "{{ admins }}"
   user:
     name: "{{ item }}"
     groups: sudo

 - name: add admin users .ssh/ directories
   with_items: "{{ admins }}"
   file:
     dest: "/home/{{ item }}/.ssh"
     state: directory
     owner: "{{ item }}"
     group: "{{ item }}"
       
 - name: add admin user ssh keys
   with_items: "{{ admins }}"
   copy:
     src: "group_files/{{ item }}.pub"
     dest: "/home/{{ item }}/.ssh/authorized_keys"
     owner: "{{ item }}"
     group: "{{ item }}"

 - name: generate passwords for admin users
   with_items: "{{ admins }}"
   shell: "/usr/bin/pwgen -s 32 1 > /home/{{ item }}/password.txt"
   args:
     creates: "/home/{{ item }}/password.txt"
     removes: "/home/{{ item }}/.password_set"
   become: yes
   become_user: "{{ item }}"

 - name: set admin passwords
   with_items: "{{ admins }}"
   shell: "echo {{ item }}:$(echo -n `cat /home/{{ item }}/password.txt`) | chpasswd"
   args:
     removes: "/home/{{ item }}/.password_set"

 - name: set password-set file
   with_items: "{{ admins }}"
   copy:
     dest: "/home/{{ item }}/.password_set"
     owner: "{{ item }}"
     group: "{{ item }}"
     content: ""

 - name: configure debian stable upgrades
   replace:
     dest: /etc/apt/apt.conf.d/50unattended-upgrades
     regexp: '(\/\/\s+)"o=Debian,a=stable";'
     replace: '        "o=Debian,a=stable";'
     
 - name: configure debian stable-update upgrades
   replace:
     dest: /etc/apt/apt.conf.d/50unattended-upgrades
     regexp: '(\/\/\s+)"o=Debian,a=stable-updates";'
     replace: '        "o=Debian,a=stable-updates";'

 - name: mail root an unattended upgrade
   replace:
     dest: /etc/apt/apt.conf.d/50unattended-upgrades
     regexp: '/\/\Unattended-Upgrade::Mail "root";'
     replace: 'Unattended-Upgrade::Mail "root";'

 - name: enable unattended upgrade
   copy:
     dest: /etc/apt/apt.conf.d/20auto-upgrades
     src: 20auto-upgrades 

 - name: install logwatch
   apt: name=logwatch state=latest update_cache=yes cache_valid_time=3600

 - name: configure daily logwatch email
   copy:
     src: 00logwatch
     dest: /etc/cron.daily/00logwatch

 - name: configure root email aliases
   replace:
     dest: /etc/aliases
     regexp: '^root: '
     replace: '^root: hostmaster@noisebridge.net'
   notify: reload-aliases

 - name: install fail2ban
   apt: name=fail2ban state=latest update_cache=yes cache_valid_time=3600


 - name: install tlsdate
   apt: package=tlsdate state=latest update_cache=yes cache_valid_time=3600

 - name: enable tlsdate debian
   service: name=tlsdated state=started enabled=yes
   when: ansible_distribution == "Debian"
