
                ▄▄▄▄▄▄▄▄
                ▀▀▀▀▀███
      ████▄██▄      ▄██
      ██ ██ ██      ██
      ██ ██ ██     ██
      ██ ██ ██    ██
      ▀▀ ▀▀ ▀▀   ▀▀

##
# This is a smol VM for secondary DNS
##
