[secrets]
APP_SECRET_KEY = {{ library_org_config.secrets.app_secret_key }}
WTF_CSRF_SECRET_KEY = {{ library_org_config.secrets.wtf_csrf_secret_key }}
NEW_ISBN_SUBMIT_SECRET = {{ library_org_config.secrets.new_isbn_submit_seret }}
NEW_LOCATION_SUBMIT_SECRET = {{ library_org_config.secrets.new_location_submit_secret }}
RECAPTCHA_PUBLIC_KEY = {{ library_org_config.secrets.recaptcha_public_key }}
RECAPTCHA_PRIVATE_KEY = {{ library_org_config.secrets.recaptcha_private_key }}
