{{ ansible_managed | comment('xml') }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noisebridge - a hacker space ship</title>
    <base href="https://www.noisebridge.net/">
  </head>
  <style>
    body {
      text-align: center;
      color: #222222;
      background-color: #da242b;
    }
  </style>
  <body>
    <h1>Donate is down for maintenence,<h1>
    <h2>but you can still donate to our <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=treasurer%40noisebridge%2enet&lc=US&item_name=Noisebridge%20Donation&currency_code=USD">paypal</a>!</h2>
  </body>
</html>
