{{ ansible_managed | comment('xml') }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noisebridge - a hacker spaceship</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<style>
body {
  background-color: #222;
  background-image: url("img/gala-gear-bg.png");
  background-position: center;
  color: #fafafa;
}
.tile {
  padding: 10px 20px;
}
.gala-title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125;
}
.gala-title-smaller {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.125;
}
.tile {
  color: #363636;
  background-color: rgba(0,0,0,0.2);
}
</style>
  <body>
    <section class="section">
      <h1 class="has-text-centered gala-title">Join Us!</h1>
      <h2 class="has-text-centered gala-title-smaller">at the 2019 Noisebridge Gala</h2>
    </section>

<hr/>

    <section class="section">

        <div class="tile is-ancestor">
          <div class="tile is-parent">
  <div id="who" class="tile is-child has-text-white is-4">
    <div>
      <h3 class="is-size-2 has-text-centered">Who</h3>
      <p class="is-size-4">Noisebridge, you?</p>
    </div>
  </div>
  <div id="whats happening?" class="tile is-child has-text-white is-8">
    <div>
      <h3 class="is-size-2 has-text-centered">Whats Happening?</h3>
      <p class="is-size-4">a festive evening fundraiser featuring live music, an <a class="has-text-white" style="text-decoration:underline" href="#auction">auction</a>, "raise the paddle", drinks, and snacks</a></p>
    </div>
  </div>

          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
  <div id="where" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">Where</h3>
      <p class="is-size-4">Noisebridge, <a class="has-text-white" style="text-decoration:underline" href="https://goo.gl/maps/EayBkVhsmgptPbDa9">2169 Mission St. (3rd floor), San Francisco, CA</a></p>
    </div>
  </div>
  <div id="when" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">When</h3>
      <p class="is-size-4">April 27th 2019 <a class="has-text-white" style="text-decoration:underline" href="#schedule">7:00pm to 12:00am</a></p>
    </div>
  </div>

          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
  <div id="why" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">Why</h3>
      <p class="is-size-4">Noisebridge needs money to continue its existance and buy a <a class="has-text-white" style="text-decoration:underline" href="forever_home.html">forever home</a></p>
    </div>
  </div>
  <div id="admission" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">Admission</h3>
      <p class="is-size-4">We suggest a donation of $15 (or more!) to help Noisebridge hacking</p>
    </div>
  </div>

          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
  <div id="schedule" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">Schedule</h3>
      <p class="is-size-4"><ul class="list"><li class="list-item">7pm - Party</li><li class="list-item">9pm - Auction and raise the paddle</li><li class="list-item">12am - Closing</li></ul></p>
    </div>
  </div>

          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
  <div id="auction" class="tile is-child has-text-white ">
    <div>
      <h3 class="is-size-2 has-text-centered">Auction</h3>
      <p class="is-size-4">We're going to be auctioning off some pretty cool stuff!  Sign up for the fun or learn more with <a class="has-text-white" style="text-decoration:underline" href="https://bidr.co/events/nbgala">bidr</a>.</p>
    </div>
  </div>

          </div>
        </div>

    </section>

    <!-- Padding so that clicking on links to the schedule / auction sections brings them to the top of the page -->
    <section class"section" style="height: calc(100vh - 7rem)"></section>
  </body>
</html>
