{{ ansible_managed | comment('xml') }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noisebridge - Getting a Forever Home</title>
    <link rel="stylesheet" href="bulma.min.css">
    <style>
      .section p {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:4000">
          <img src="Nb-logo-131.png"></img>
          &nbsp;&nbsp;Noisebridge
        </a>
        <div id="burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#about">
            About Us
          </a>
          <a class="navbar-item" href="#forever_home">
            Why we're fundraising
          </a>
          <a class="navbar-item" href="#donate">
            Help us get a Forever Home!
          </a>
        </div>
      </div>
    </nav>

    <section class="hero is-fullheight-with-navbar has-text-black" style="background-color: #ED1C24" id="about">
      <div class="hero-body"><!--                                                           #e91c21-->
        <div class="section">
          <h1 class="title has-text-centered">What is Noisebridge?</h1>
          <p class="is-size-5">
            Noisebridge is a community-operated, non-profit hackerspace in San Francisco whose mission is to provide a space for people to learn, play, create, and share. Noisebridge provides infrastructure and collaboration opportunities for anyone interested in programming, hardware, crafts, science, robotics, art, and technology. We teach, we learn, we share.
          </p>
          <div class="content">
            <blockquote style="background-color: #ed1c24">
              <pre>
“For we're excellent to each other here
We rarely ever block
We value tools over pre-emptive rules
And spurn the key and the lock.”</pre>
              <p style="text-indent: 1.5em">— Danny O'Brien, 2010-11-09 general meeting notes</p>
            </blockquote>
          </div>
          <p>
            With no leaders, we have one rule: "Be excellent to each other". As a hackerspace for technical-creative projects, we are do-ocratically run by everyone. In this model, all decisions are made through consensus rule. For the past decade, this model has proven successful, enabling us to build a vibrant and diverse community. 
          </p>
          <p>
            A hacker is someone who sees the world as full of resources. At Noisebridge, we use an intersectional approach to creativity that allows us to use these resources to their best advantage to improve our projects (which can be anything!). We see what works well, what doesn’t work well, and we share with others. This is how we continually improve our projects, our communities, ourselves, and the world. 
          </p>
          <p>
            We enable a wide variety of educational community activities; electronics, sewing, wood and metal-working, 3D printing, 3D modeling and virtual reality development. Through talks, workshops, and projects we encourage knowledge exchange, learning, and mentoring. We provide infrastructure and collaboration opportunities for anyone interested in programming, hardware, crafts, science, robotics, art, and technology.
          </p>
          <p>
            Noisebridge operates a 5,200 square-foot space located in the heart of San Francisco containing an electronics lab, wood shop, machine/metalworking shop, sewing/crafting supplies, two classrooms, music making areas, conference area, and library. 
          </p>
          <p>
            Noisebridge is open as much as possible. Typical "open hours" are from 11:00am-10:00pm, however this varies greatly depending on scheduled events and who is using the space on any given day. New visitors are welcome any time (all ages, all skill levels), as long as someone is in the space and able to answer the door.
          </p>
        </div>
      </div>
    </section>
    <section class="hero is-fullheight has-background-dark" style="color: #ED1C24" id="forever_home">
      <div class="hero-body">
        <div class="section">
          <h1 class="title has-text-centered" style="color: #ED1C24">Why are we fundraising?</h1>
          <p>
            Noisebridge is busting at the seams. Our 5,200 square foot space simply cannot flex to accommodate our continually expanding scope of work and community. Additionally, when our lease expires on August 30, 2019 we have no immediate option to renew. Our landlord has the option to extend our rental by one year, but has expressed a desire to renovate the space in the near future. As we simultaneously feel that our current unit is too small - for example, we have 8 3D printers we are unable to set up due to lack of space - we find ourselves at a critical juncture, with a need to find a new home within the next 12-18 months. 
          </p>
          <p>
            We have no issue getting donated equipment, or finding new or used equipment that is affordable. We don’t need more things. We only need the one thing no hackerspace can make: more space. More space will allow us to serve more people, with more programs, for more hours. 
          </p>
          <p>
            As we look ahead to a new home, if possible we wish to buy, not rent, to ensure a long-term base for years to come. With this in mind, Noisebridge made the decision in 2018 to embark on a Capital Campaign to raise funds for the purchase and outfitting of our new venue.
          </p>
        </div>
      </div>
    </section>
    <section class="hero is-fullheight is-warning has-background-black has-text-light" id="donate">
      <div class="hero-body">
        <div class="section">
          <h1 class="title has-text-centered has-text-light">Donate or Volunteer!</h1>
          <hr>
          <section class="section">
            <h2 class="subtitle has-text-light">Donate!</h2>
            <div class="columns">
              <div class="column has-text-centered">
                <a class="button is-primary" href="https://donate.noisebridge.net">with a Credit Card</a>
              </div>
              <div class="column has-text-centered">
                <a class="button is-info" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=treasurer%40noisebridge%2enet&lc=US&item_name=Forever%20Home&currency_code=USD">
                  via PayPal
                </a>
              </div>
              <div class="column has-text-centered">
                <a class="button is-link" href="https://www.noisebridge.net/wiki/Donate_or_Pay_Dues">or with something else</a>
              </div>
            </div>
            <p>
              Also, if you, or an organization you are a part of, would like to discuss a larger donation that could help us buy a
              building and ensure a permanent home for Noisebridge, please get in contact with
              &nbsp;<a href="mailto:fundraising@noisebridge.net">fundraising@noisebridge.net</a>.
            </p>
          </section>
          <section class="section">
            <h2 class="subtitle has-text-light">Volunteer!</h2>
            <p>
              It's not easy finding and raising funds for a space in San Francisco.  If you want to get involved, we have a weekly,
              newcomer friendly, meeting at 6 PM weekly on Tuesday at Noisebridge.
              &nbsp;If you have time to spare and any experience raising money for non profits, we are especially interested in
              talking to you.
            </p>
            <p>
              Can't make it to the fundraising meetings?  Want to ask us about something else?
              We can be reached at
              &nbsp;<a href="mailto:fundraising@noisebridge.net">fundraising@noisebridge.net</a>.
            </p>
          </section>
        </div>
      </div>
    </section>
<!--
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Credits, etc. if necessary</p>
      </div>
    </footer>
-->
    <script>
      (function() {
        var burger = document.getElementById("burger");
        var menu = document.getElementById("navbar");
        burger.addEventListener("click", function() {
          if (burger.classList.contains("is-active")) {
            burger.classList.remove("is-active");
            menu.classList.remove("is-active");
          } else {
            burger.classList.add("is-active");
            menu.classList.add("is-active");
          }
        });
      })();
    </script>
  </body>
</html>
