---
- name: install dependencies
  apt:
    state: latest
    package: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
  with_items:
  - imagemagick
  - php7.0
  - php7.0-mysql
  - php7.0-imagick
  - php7.0-fpm
  - php7.0-mbstring
  - php7.0-xml
  tags:
  - apt
  - mediawiki

- name: fetch mediawiki LTS release
  get_url:
    dest: /tmp/
    url: "https://releases.wikimedia.org/mediawiki/{{ mediawiki.version | regex_search('\\d+.\\d+') }}/mediawiki-{{ mediawiki.version }}.tar.gz"
    checksum: "sha256:{{ mediawiki.version_sha256sum }}"
  tags:
  - mediawiki

- name: make wiki directory
  file:
    dest: "/srv/mediawiki/{{ mediawiki.domain }}/wiki"
    state: directory
    owner: www-data
    group: www-data
  tags:
  - mediawiki

- name: extract mediawiki
  unarchive:
    src: "/tmp/mediawiki-{{ mediawiki.version }}.tar.gz"
    dest: "/srv/mediawiki/{{ mediawiki.domain }}/wiki"
    remote_src: true
    extra_opts: ["--strip-components=1"]
  tags:
  - mediawiki

- name: copy mediawiki install script
  template:
    src: mediawiki_install
    dest: /tmp/mediawiki_install
    owner: root
    group: root
    mode: 0755
  tags:
  - mediawiki

# - name: run CLI mediawiki installation
#   command: /tmp/mediawiki_install
#   args:
#     chdir: "/srv/mediawiki/{{ mediawiki.domain }}"
#     creates: "/srv/mediawiki/{{ mediawiki.domain}}/LocalSettings.php"
#   tags:
#   - mediawiki
