---
- include: php.yml

- name: fetch mediawiki LTS release
  get_url:
    dest: /tmp/
    url: "https://releases.wikimedia.org/mediawiki/{{ mediawiki.version | regex_search('\\d+.\\d+') }}/mediawiki-{{ mediawiki.version }}.tar.gz"
    checksum: "sha256:{{ mediawiki.version_sha256sum }}"
  tags:
  - mediawiki

- name: make wiki directory
  file:
    dest: "/srv/mediawiki/{{ mediawiki.domain }}"
    state: directory
    owner: www-data
    group: www-data
  tags:
  - mediawiki

- name: extract mediawiki
  unarchive:
    src: "/tmp/mediawiki-{{ mediawiki.version }}.tar.gz"
    dest: "/srv/mediawiki/{{ mediawiki.domain }}"
    owner: root
    group: root
    remote_src: true
    extra_opts: ["--strip-components=1"]
  tags:
  - mediawiki

- name: install mwGoogleSheets extension
  git:
    repo: 'https://github.com/marcidy/mwGoogleSheet.git'
    dest: "/srv/mediawiki/{{ mediawiki.domain }}/extensions/mwGoogleSheet"
    version: REL1_27
  tags:
  - mediawiki

- name: install LocalSettings
  template:
    src: LocalSettings.php
    dest: "/srv/mediawiki/{{ mediawiki.domain }}/LocalSettings.php"
    owner: root
    group: www-data
    mode: 0640
  tags:
  - mediawiki
  - mediawiki-localsettings

- name: install home page
  template:
    src: index.html
    dest: "/srv/mediawiki/{{ mediawiki.domain }}/index.html"
    owner: root
    group: root
    mode: 0644
  tags:
  - mediawiki
