{{ ansible_managed | comment }}
# Global config
{
  servers {
      metrics
  }
}
# Metrics server
{{ ansible_fqdn }} {
  route /metrics {
    basicauth {
      prometheus {{ noisebridge_prometheus_password_hash }}
    }
    metrics
  }
  handle_path /coredns/* {
    basicauth {
      prometheus {{ noisebridge_prometheus_password_hash }}
    }
    reverse_proxy localhost:9153
  }
  respond "Noisebridge Infrastructure - {{ ansible_fqdn }}"
}
